

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    font-family: Arial, sans-serif;
    margin-top: 12%;
}

/* Title styling */
.title {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
    text-shadow:0 4px 8px rgba(0, 0, 0, 0.2) ;
}

/* Form styling */
.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Form group styling */
.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Label styling */
.label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #000000;
}

/* Input and select styling */
.input, select {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input:focus, select:focus {
    border-color: #007bff;
}

/* Button styling */
button[type="submit"] {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 15PX;
    margin-top: 10PX;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

button[type="submit"]:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

/* Error text styling */
.error-text {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}